{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Welcome to Digital Business Technology Program </h1>
    <h2>This is DBAP Course </h2>
    <h2>I love Python, Django, MySQL, Java, PHP,
        C++, and Everything in My Course</h2>
    <p>
        Valentine's Day is right around the corner,
        which means we're all scrambling to find the perfect
        Valentine's Day gift for your spouse, girlfriend, or
        boyfriend, <br> along with the just-right Valentine's Day
        message to write in a card. Sometimes, it's difficult
        to find the right words to express how you feel.<br>
        But a song can say it all, and in some cases, better
        than we ever could! Here, we've rounded up some of the
        best romantic song lyrics— <br>from Nat King Cole to
        Bruno Mars—from our favorite Valentine's Day songs and best
        country love songs.<br> Whether you're looking for a sweet
        opening line for your Valentine's Day love letter or
        you're simply a hopeless romantic looking to indulge yourself,
        <br> this list is for you. <br><br>
        <a href="/secondpage">Go to second page</a> <br>
        <a href="/thirdpage">Go to third page</a> <br><br>
        <br>
        <center>
            <img src="../static/images/girl.jpg" width="200px" height="150px"
            class="img rounded">
        </center>
        <br>

        <img src="{% static 'images/dbt.png'%}" width="200px" height="150px">
    </p>

{% endblock %}