{% load fontawesome_5 %}
{% fontawesome_5_static %}
<br>
<ul class="list-group">
    <li class="list-group-item active"><b>Menu:</b></li>
    <li>
        <a href="{% url 'home' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
            <i class="fas fa-home"></i> Home
        </a>
    </li>
    <li><a href="{% url 'firstpage' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fas fa-list"></i> First page
    </a></li>
    <li><a href="{% url 'secondpage' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        <i class="fas fa-users"></i> Second page </a></li>
    <li><a href="{% url 'thirdpage' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        {% fa5_icon 'star' %} Third page </a></li>
    <li><a href="{% url 'hnypage' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        {% fa5_icon 'wine-glass' %} HNY. page </a></li>
    <li><a href="{% url 'testbt' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        {% fa5_icon 'store' %} Test Bootstrap </a></li>
     <li><a href="{% url 'testbt' %}"
           class="list-group-item list-group-item-action list-group-item-light text-primary">
        {% fa5_icon 'store' %} Test Bootstrap </a></li>
</ul>
