{% extends 'base.html' %}
{% load static %}
{% block content %}
    <H1>This is Second Page</H1>
    <h2> เต่างอย </h2>
    <p>
        สาวเต่างอยรอคอยอ้าย
        เต่างอยรอคอยอ้าย <br>
        เต่างอยรอคอยอ้าย
        เต่า เต่า เต่า เต่า เต่า เต่า เต่า เต่า <br>
        เต่างอย
        เต่างอย
        เต่างอย <br>
        เต่า เต่า เต่างอย
        หายไปใสพี่มิดจีลีละเด้อ <br>
        ไปสิเลอแจใดเล่าเออ
        บ่าวอำเภอเดียวกันนั้นทำใจน้องขม <br>
        ก่อนสองเฮาเคียงคู่ภิรมย์
        ก่อนสองเฮาเคียงคู่ภิรมย์ <br>
        พนมมือกราบก้ม
        ขอโชคที่เต่างอย <br>
        สาวเต่างอยรอคอยอ้าย
        เต่างอยรอคอยอ้าย <br>
        เต่างอยรอคอยอ้าย
        เต่า เต่า เต่า เต่า เต่า เต่า เต่า เต่า <br>
        เต่างอย
        เต่างอย
        เต่างอย<br>
        เต่า เต่า เต่างอย <br>
    </p>
        <br><br>
        <a href="/firstpage">Go to first page</a> <br>
        <a href="/thirdpage">Go to third page</a> <br><br>

        <p align="center">
            <img src="{% static 'images/girl.jpg'%}" width="400px" height="350px">
        </p>
{% endblock %}